body{
    color: #2c3e50;
}
/*no usada*/
.td_invertido td{
    color: none;background-color:none;border: none;
    color: #fff;background-color:#4e73df;border: 1px solid #fff;
}

.table2 span{
    color: none;
}
.table2 th{
    padding: 5px 10px 5px 10px;
    border: 1px solid #95a5a6;
    font-size: 12px;
    font-weight: bold;
    color: #4e73df;
    background-color:#fff;
    text-align: center;
}
.table2 th:first-child {
    border-radius :10px 0 0 0;
}
.table2 th:last-child {
    border-radius :0 10px 0 0;
}
.table2 tfoot th:first-child {
    border-radius :0 0 0 10px;
}
.table2 tfoot th:last-child {
    border-radius :0 0 10px 0;
}
.table2 {
    width:100%;
}
.table2 td{
    padding: 2px 5px 5px 2px;
    font-size: 11px;
    background-color:#fff;
    border: 1px solid #95a5a6;
    /*border-bottom: 1px solid #2c3e50;*/
    color:#2c3e50;
    text-transform: uppercase;
}
.table3 .sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.table3 thead tr .sticky {
    background:  white;
}
.table3 thead tr:nth-child(2n) .sticky {
    background:  #f2f2f2;
}
.table3 span{
    color: none;
}
.table3 th{
    padding: 5px 10px 5px 10px;
    border: 1px solid #95a5a6;
    font-size: 12px;
    font-weight: bold;
    color: #4e73df;
    background-color:#fff;
    text-align: center;
}
.table3 th:first-child {
    border-radius :10px 0 0 0;
}
.table3 th:last-child {
    border-radius :0 10px 0 0;
}
.table3 tfoot th:first-child {
    border-radius :0 0 0 10px;
}
.table3 tfoot th:last-child {
    border-radius :0 0 10px 0;
}
.table3 {
    width:100%;
}
.table3 td{
    padding: 2px 5px 5px 2px;
    font-size: 11px;
    background-color:#fff;
    border: 1px solid #95a5a6;
    /*border-bottom: 1px solid #2c3e50;*/
    color:#2c3e50;
    text-transform: uppercase;
}

.fa-size_small{
    font-size: 1.8em;
}
.fa-size_super_small{
    font-size: 1.4em;
}
.fa-size_normal{
    font-size: 3em;
}
.fa-size_medio{
    font-size: 5em;
}
.fa-size_big{
    font-size: 10em;
}
.logo_img {
    display: block;
    margin-left: 33%;
    margin-right: auto;
    width: 30%;
    margin-top: -8%;
}
.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 86%;
    margin-top: 13%;
}
.tr_rojo td {
    color:none;
    color:#EA4335;
}

.negro{
    color:none;
    color:#34495e;
    /*background-color:#3AA757;*/
}
.verde{
    color:none;
    color:#3AA757;
    /*background-color:#3AA757;*/
}
.naranja{
    color:none;
    color: #ffa502;
}
.rojo{
    color:none;
    color:#EA4335;

}
.gris{
    color:none;
    color:#ddd;
}

.crono_1verde{
    text-align: center;
    border:1px solid #fff; 
    border-radius: 2px;
    padding: 3px;
    background: #26de81;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
.crono_2naranja{
    text-align: center;
    border:1px solid #fff; 
    border-radius: 2px;
    padding: 3px;
    background: orange;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
.crono_3rojo{
    text-align: center;
    border:1px solid #fff; 
    border-radius: 2px;
    padding: 3px;
    background: red;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
.crono_1{
    text-align: center;
    border:1px solid #fff; 
    border-radius: 2px;
    padding: 3px;
    background-color: #26de81;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
.crono_2{
    text-align: center;
    border:1px solid #fff; 
    border-radius: 2px;
    padding: 3px;
    background-color: #04bac3;
    color:#fff;
    font-weight: bold;
    cursor: pointer;

}
.crono_3{
    text-align: center;
    border:1px solid #fff; 
    border-radius: 2px;
    padding: 3px;
    background-color: #FDA7DF;
    color:#fff;
    font-weight: bold;
    cursor: pointer;

}
.crono_4{
    text-align: center;
    border:1px solid #fff; 
    border-radius: 2px;
    padding: 3px;
    background-color: #D980FA;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
.crono_5{
    border:1px solid #fff; 
    border-radius: 2px;
    padding: 3px;
    background-color: #34495e;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}

.crono_empty_1{
    text-align: center;
    border:2px solid #26de81; 
    border-radius: 2px;
    padding: 3px;
    color:#ddd;
    font-weight: bold;
}
.crono_empty_2{
    text-align: center;
    border:2px solid #04bac3; 
    border-radius: 2px;
    padding: 3px;
    color:#ddd;
    font-weight: bold;
}
.crono_empty_3{
    text-align: center;
    border:2px solid #FDA7DF; 
    border-radius: 2px;
    padding: 3px;
    color:#ddd;
    font-weight: bold;
}
.crono_empty_4{
    text-align: center;
    border:2px solid #D980FA; 
    border-radius: 2px;
    padding: 3px;
    color:#ddd;
    font-weight: bold;
}
.crono_empty_5{
    text-align: center;
    border:2px solid #D980FA; 
    border-radius: 2px;
    padding: 3px;
    color:#ddd;
    font-weight: bold;
}
.tooltip_r {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip_r .tooltip_rtext {
    visibility: hidden;
    width: 235px;
    background: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_r .tooltip_rtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip_r:hover .tooltip_rtext {
    visibility: visible;
    opacity: 1;
}

.btn-blue{
    background: #106eff;
    color: white;
}

.btn-blue:hover{
    background: #004dc3;
    color: white;
}

.custom-cursor {
    cursor: url('sticky-note-regular.svg') 7 7 , auto;
    
}
.custom-cursor:hover {
        font-weight: bold;
    }